:root {
  background-color: brown;
}

body {
  text-align: center;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

#wrapper {
  width: 450px;
  background-color: #000365;
  margin-top: 5%;
  margin-left: 30%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-top: 2%;
  padding-right: 2%;
  border-radius: 25px;
}

/* h1 {
  text-align: center;
}

#taskForm {
  text-align: center;
} 
*/

#fields {
background-color: darkblue;
text-align: center;
display: flex;
flex-direction: column;
margin: 1rem auto;
  
}

#boxes {
  margin: 0.5em auto;
}

#taskToDo {
  margin-right: 2em;
}

#buttonBox {
  margin-right: 0.2em;
}