:root {
  background-color: brown;
}

h1 {
  text-align: center;
}

#taskForm {
  text-align: center;
  /**background-color: green;*/
}

#fields {
background-color: darkblue;
text-align: center;
display: flex;
flex-direction: column;
margin: 1rem auto;
  
}

#boxes {
  margin: 0.5em auto;
}

#taskToDo {
  margin-right: 2em;
}

#buttonBox {
  margin-right: 0.2em;
}